<!DOCTYPE html>
<html>
<head>
	<title>Sound and Color</title>
</head>
<body>

<nav>
	<a class= "nava" href="/">Home</a>
	<a class= "nava" href="">About</a>
	<img id = "profile-icon" src="https://68.media.tumblr.com/5d025161f0f362f0f37a4c36eed5e152/tumblr_oo85afcHW91qerjyso1_250.png">
	<p class = "logo">Sound & Color</p>
</nav>

<p class="header"> SOUND & COLOR </p>

<div class="login">
	<div class="lisu">
		<a class="loginsignup" href="/genres">Login/</a>

		<a class="loginsignup" href="/users">Sign Up</a>
	</div>
</div>


<video poster="<%=path_to_image('part1sc.gif')%>" id="bgvid" playsinline autoplay muted loop>





<!-- <iframe src="https://player.vimeo.com/video/217566026" width="1600" height="1200" frameborder="0" autoplay="true" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
 -->
	


</body>
</html>