<!DOCTYPE html>
<html>
<head>
	<title>Playlist: Sound & Color</title>
</head>
<body>
<nav>
	<a class= "nava" href="/">Home</a>
	<a class= "nava" href="">About</a>
	<img id = "profile-icon" src="https://68.media.tumblr.com/5d025161f0f362f0f37a4c36eed5e152/tumblr_oo85afcHW91qerjyso1_250.png">
	<p class = "logo">SOUND & COLOR</p>
</nav>

<div class="genrebox">
		<div class="colorchosen">

		     <h2>You are listening to:</h2><br>
              
              <img  id='orange' src="<%=path_to_image('orange.png')%>"/><br>

              <h2>Country</h2><h2>Pop Rock</h2><h2>Indie Rock</h2>

		</div>


		<div class=playlist>


		<iframe src="https://open.spotify.com/embed?uri=spotify:user:126563045:playlist:3Ucpy5fvviZdHBgtBO6kmV" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
			
		</div>



</div>

<video poster="<%=path_to_image('sandc.png')%>" id="bgvid" playsinline autoplay muted loop>


</body>
</html>
